USE [PKStore]
GO
/****** Object:  StoredProcedure [dbo].[sp_user_search]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_user_search]
GO
/****** Object:  StoredProcedure [dbo].[sp_user_get_by_username_password]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_user_get_by_username_password]
GO
/****** Object:  StoredProcedure [dbo].[sp_user_get_by_id]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_user_get_by_id]
GO
/****** Object:  StoredProcedure [dbo].[sp_user_get_all]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_user_get_all]
GO
/****** Object:  StoredProcedure [dbo].[sp_user_delete]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_user_delete]
GO
/****** Object:  StoredProcedure [dbo].[sp_update_user]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_update_user]
GO
/****** Object:  StoredProcedure [dbo].[sp_thongke_theo_thang]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_thongke_theo_thang]
GO
/****** Object:  StoredProcedure [dbo].[sp_thongke_sp_banchay]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_thongke_sp_banchay]
GO
/****** Object:  StoredProcedure [dbo].[sp_thongke_sp_bancham]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_thongke_sp_bancham]
GO
/****** Object:  StoredProcedure [dbo].[sp_product_update]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_product_update]
GO
/****** Object:  StoredProcedure [dbo].[sp_product_search_name]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_product_search_name]
GO
/****** Object:  StoredProcedure [dbo].[sp_product_search]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_product_search]
GO
/****** Object:  StoredProcedure [dbo].[sp_product_get_by_id]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_product_get_by_id]
GO
/****** Object:  StoredProcedure [dbo].[sp_product_delete]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_product_delete]
GO
/****** Object:  StoredProcedure [dbo].[sp_product_create]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_product_create]
GO
/****** Object:  StoredProcedure [dbo].[sp_product_all]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_product_all]
GO
/****** Object:  StoredProcedure [dbo].[sp_home_search]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_home_search]
GO
/****** Object:  StoredProcedure [dbo].[sp_hoa_don_create]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_hoa_don_create]
GO
/****** Object:  StoredProcedure [dbo].[sp_get_product_related]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_get_product_related]
GO
/****** Object:  StoredProcedure [dbo].[sp_get_bill_detail]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_get_bill_detail]
GO
/****** Object:  StoredProcedure [dbo].[sp_get_bill_by_status]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_get_bill_by_status]
GO
/****** Object:  StoredProcedure [dbo].[sp_get_bill]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_get_bill]
GO
/****** Object:  StoredProcedure [dbo].[sp_doanhthu_theo_thang]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_doanhthu_theo_thang]
GO
/****** Object:  StoredProcedure [dbo].[sp_doanhthu_theo_ngay]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_doanhthu_theo_ngay]
GO
/****** Object:  StoredProcedure [dbo].[sp_doanhthu_theo_nam]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_doanhthu_theo_nam]
GO
/****** Object:  StoredProcedure [dbo].[sp_doanhthu_khachhang]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_doanhthu_khachhang]
GO
/****** Object:  StoredProcedure [dbo].[sp_customer_create]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_customer_create]
GO
/****** Object:  StoredProcedure [dbo].[sp_create_user]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_create_user]
GO
/****** Object:  StoredProcedure [dbo].[sp_category_edit]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_category_edit]
GO
/****** Object:  StoredProcedure [dbo].[sp_category_delete]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_category_delete]
GO
/****** Object:  StoredProcedure [dbo].[sp_category_create]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_category_create]
GO
/****** Object:  StoredProcedure [dbo].[sp_billdetail_get_all]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_billdetail_get_all]
GO
/****** Object:  StoredProcedure [dbo].[sp_bill_delete]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_bill_delete]
GO
/****** Object:  StoredProcedure [dbo].[sp_bill_change_status]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[sp_bill_change_status]
GO
/****** Object:  StoredProcedure [dbo].[category_get_data]    Script Date: 5/23/2021 5:12:34 PM ******/
DROP PROCEDURE [dbo].[category_get_data]
GO
ALTER TABLE [dbo].[Product] DROP CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[New] DROP CONSTRAINT [FK_New_User]
GO
ALTER TABLE [dbo].[BillDetail] DROP CONSTRAINT [FK_BillDetail_Product]
GO
ALTER TABLE [dbo].[User] DROP CONSTRAINT [DF_User_created_at]
GO
ALTER TABLE [dbo].[User] DROP CONSTRAINT [DF_User_user_id]
GO
ALTER TABLE [dbo].[Supplier] DROP CONSTRAINT [DF_Supplier_created_at]
GO
ALTER TABLE [dbo].[Product] DROP CONSTRAINT [DF_Product_created_at]
GO
ALTER TABLE [dbo].[Product] DROP CONSTRAINT [DF_Product_status]
GO
ALTER TABLE [dbo].[New] DROP CONSTRAINT [DF_New_created_at]
GO
ALTER TABLE [dbo].[Category] DROP CONSTRAINT [DF_Category_created_at]
GO
ALTER TABLE [dbo].[Category] DROP CONSTRAINT [DF_Category_category_id]
GO
ALTER TABLE [dbo].[Bill] DROP CONSTRAINT [DF_Bill_created_at]
GO
ALTER TABLE [dbo].[Bill] DROP CONSTRAINT [DF_Bill_status]
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/23/2021 5:12:34 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
DROP TABLE [dbo].[User]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 5/23/2021 5:12:34 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Supplier]') AND type in (N'U'))
DROP TABLE [dbo].[Supplier]
GO
/****** Object:  Table [dbo].[Slider]    Script Date: 5/23/2021 5:12:34 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Slider]') AND type in (N'U'))
DROP TABLE [dbo].[Slider]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/23/2021 5:12:34 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Product]') AND type in (N'U'))
DROP TABLE [dbo].[Product]
GO
/****** Object:  Table [dbo].[New]    Script Date: 5/23/2021 5:12:34 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[New]') AND type in (N'U'))
DROP TABLE [dbo].[New]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 5/23/2021 5:12:34 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Customer]') AND type in (N'U'))
DROP TABLE [dbo].[Customer]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/23/2021 5:12:34 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Category]') AND type in (N'U'))
DROP TABLE [dbo].[Category]
GO
/****** Object:  Table [dbo].[BillDetail]    Script Date: 5/23/2021 5:12:34 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BillDetail]') AND type in (N'U'))
DROP TABLE [dbo].[BillDetail]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 5/23/2021 5:12:34 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Bill]') AND type in (N'U'))
DROP TABLE [dbo].[Bill]
GO
/****** Object:  FullTextCatalog [product_ctlg]    Script Date: 5/23/2021 5:12:34 PM ******/
GO
DROP FULLTEXT CATALOG [product_ctlg]
GO
/****** Object:  FullTextCatalog [product_ctlg]    Script Date: 5/23/2021 5:12:34 PM ******/
CREATE FULLTEXT CATALOG [product_ctlg] WITH ACCENT_SENSITIVITY = OFF
AS DEFAULT
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[id] [varchar](50) NOT NULL,
	[customer_name] [nvarchar](50) NOT NULL,
	[total] [int] NULL,
	[address] [nvarchar](50) NULL,
	[phone] [varchar](50) NULL,
	[note] [nvarchar](50) NULL,
	[status] [tinyint] NULL,
	[created_at] [date] NULL,
 CONSTRAINT [PK_Bill] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillDetail]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetail](
	[id] [varchar](50) NOT NULL,
	[bill_id] [varchar](50) NULL,
	[product_id] [int] NULL,
	[quantity_sale] [int] NULL,
	[price] [int] NULL,
 CONSTRAINT [PK_BillDetail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] [varchar](50) NOT NULL,
	[name] [nvarchar](50) NULL,
	[parent_id] [varchar](50) NULL,
	[seq_num] [smallint] NULL,
	[url] [varchar](150) NULL,
	[created_at] [date] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[customer_email] [varchar](100) NULL,
	[customer_password] [varchar](150) NULL,
	[address] [nvarchar](50) NULL,
	[phone] [varchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[New]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[New](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](250) NULL,
	[content] [text] NULL,
	[image] [varchar](250) NULL,
	[description] [nvarchar](250) NULL,
	[user_id] [varchar](50) NULL,
	[created_at] [nchar](10) NULL,
 CONSTRAINT [PK_New] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NULL,
	[image_url] [varchar](500) NULL,
	[price] [int] NULL,
	[quantity] [int] NULL,
	[promotion_price] [int] NULL,
	[category_id] [varchar](50) NULL,
	[description] [text] NULL,
	[detail] [text] NULL,
	[status] [tinyint] NULL,
	[created_at] [date] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slider]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[image] [varchar](250) NULL,
	[description] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Slider] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[created_at] [nchar](10) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [varchar](50) NOT NULL,
	[name] [nvarchar](50) NULL,
	[username] [nvarchar](150) NULL,
	[password] [nvarchar](150) NULL,
	[address] [nvarchar](100) NULL,
	[role] [varchar](50) NULL,
	[token] [varchar](150) NULL,
	[created_at] [date] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Bill] ([id], [customer_name], [total], [address], [phone], [note], [status], [created_at]) VALUES (N'0a1e6a48-060a-43ee-a64d-f4d0396e29ed', N'Quang', 7000000, N'Hung Yen', N'038283333', NULL, 3, CAST(N'2021-01-09' AS Date))
INSERT [dbo].[Bill] ([id], [customer_name], [total], [address], [phone], [note], [status], [created_at]) VALUES (N'0dd69ad2-012c-4d27-b574-490ced5bc2ed', N'Nguyễn Minh Quang', 3890000, N'Hà Nội', N'039283838', NULL, 2, CAST(N'2021-01-08' AS Date))
INSERT [dbo].[Bill] ([id], [customer_name], [total], [address], [phone], [note], [status], [created_at]) VALUES (N'1d56738e-1325-4824-ab66-1879cff820c6', N'Nguyễn Hoàng Anh', 10780000, N'Hưng Yên', N'039282883', NULL, 3, CAST(N'2020-11-16' AS Date))
GO
INSERT [dbo].[BillDetail] ([id], [bill_id], [product_id], [quantity_sale], [price]) VALUES (N'0847ead4-602e-443d-96e2-062e0932d5a6', N'0a1e6a48-060a-43ee-a64d-f4d0396e29ed', 1037, 2, 3000000)
INSERT [dbo].[BillDetail] ([id], [bill_id], [product_id], [quantity_sale], [price]) VALUES (N'0fab1fa7-d3aa-488f-ac66-296b076ac98d', N'93923d36-130e-432e-957f-0275f3eda50f', 2064, 2, 22)
INSERT [dbo].[BillDetail] ([id], [bill_id], [product_id], [quantity_sale], [price]) VALUES (N'1231f143-7ec5-46a4-b282-b59b479dadf7', N'ffec7686-58f8-4bff-a355-a338504644ae', 1041, 1, 7990000)
GO
INSERT [dbo].[Category] ([category_id], [name], [parent_id], [seq_num], [url], [created_at]) VALUES (N'596067D7-5CB3-4730-A46A-C59965577A11', N'Miếng dán màn hình', NULL, 4, NULL, CAST(N'2020-10-16' AS Date))
INSERT [dbo].[Category] ([category_id], [name], [parent_id], [seq_num], [url], [created_at]) VALUES (N'7d8a6156-a2fd-41f4-9b52-8c2678a9672d', N'Phụ kiệp Apple', NULL, 1, NULL, CAST(N'2020-10-03' AS Date))
INSERT [dbo].[Category] ([category_id], [name], [parent_id], [seq_num], [url], [created_at]) VALUES (N'7E606FCF-65A8-4764-AC8E-305CD5B2C7D4', N'Miến dán màn hình', NULL, 6, NULL, CAST(N'2020-10-16' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([customer_id], [name], [customer_email], [customer_password], [address], [phone]) VALUES (1, NULL, N'quang@gmail.com', N'123456', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([product_id], [name], [image_url], [price], [quantity], [promotion_price], [category_id], [description], [detail], [status], [created_at]) VALUES (33, N'Dây sạc Apple Watch Magnetic Charging Cable (1 m)', N'sc3.jpg', 690000, 20, 0, N'de10762f-5dcb-4c78-9a45-a8d776ca1e9b', NULL, NULL, 1, CAST(N'2020-10-16' AS Date))
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[User] ([user_id], [name], [username], [password], [address], [role], [token], [created_at]) VALUES (N'024500a5-888f-4885-812e-64d5bf99f119', N'Nguyễn Hồng Nhung', N'nhunghong@gmail.com', N'123', N'Hà Nội', N'User', NULL, CAST(N'2020-11-15' AS Date))
INSERT [dbo].[User] ([user_id], [name], [username], [password], [address], [role], [token], [created_at]) VALUES (N'244E1BD1-5C9E-483E-884D-63314B899BB9', N'Nguy?n Minh Quang', N'mquang991@gmail.com', N'123', N'Hưng Yên', N'Admin', NULL, NULL)
INSERT [dbo].[User] ([user_id], [name], [username], [password], [address], [role], [token], [created_at]) VALUES (N'56b98a04-18f1-489c-9a1b-a4d00ae3fe85', N'Nguyễn Ðình Nam', N'namnguyendinh@gmail.com', N'123', N'Hà Nội', N'Admin', NULL, CAST(N'2020-11-02' AS Date))
GO
ALTER TABLE [dbo].[Bill] ADD  CONSTRAINT [DF_Bill_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Bill] ADD  CONSTRAINT [DF_Bill_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_category_id]  DEFAULT (newid()) FOR [category_id]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[New] ADD  CONSTRAINT [DF_New_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Supplier] ADD  CONSTRAINT [DF_Supplier_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_user_id]  DEFAULT (newid()) FOR [user_id]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD  CONSTRAINT [FK_BillDetail_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[BillDetail] CHECK CONSTRAINT [FK_BillDetail_Product]
GO
ALTER TABLE [dbo].[New]  WITH CHECK ADD  CONSTRAINT [FK_New_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[New] CHECK CONSTRAINT [FK_New_User]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
/****** Object:  StoredProcedure [dbo].[category_get_data]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[category_get_data]
AS
    BEGIN
        SELECT 
		category_id,name, parent_id, seq_num, url, created_at
        FROM Category
        ORDER BY Category.seq_num;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_bill_change_status]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  procedure [dbo].[sp_bill_change_status](
	   @id varchar(50), @status varchar(30))
	    as
		  begin 
	update Bill set
	status = case @status 
	               when 'process' then 2
	               when 'success' then 3
				   when 'danger' then 0
				   end
	where id = @id
	  end
GO
/****** Object:  StoredProcedure [dbo].[sp_bill_delete]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	 create procedure [dbo].[sp_bill_delete]
	 (@id varchar(50))
	 as 
	   begin 
	     delete from  Bill where id = @id
       end
GO
/****** Object:  StoredProcedure [dbo].[sp_billdetail_get_all]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_billdetail_get_all]
AS
    BEGIN
     select * from BillDetail
		
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_category_create]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_category_create] 
	(@categor_id varchar(50),
	@name nvarchar(50),
	@parent_id varchar(50),
	@seq_num smallint ,
	@url varchar(150)
	)
	As
	  Begin 
	    insert into Category(category_id, name, parent_id,seq_num, url) values (NEWID(), @name, @parent_id, @seq_num, @url);
		end;
GO
/****** Object:  StoredProcedure [dbo].[sp_category_delete]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	create procedure [dbo].[sp_category_delete] 
	(@categor_id varchar(50)
	
	)
	As
	  Begin 
	   Delete from Category where category_id = @categor_id;
		end;
GO
/****** Object:  StoredProcedure [dbo].[sp_category_edit]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_category_edit] 
	(@categor_id varchar(50),
	@name nvarchar(50),
	@parent_id varchar(50),
	@seq_num smallint ,
	@url varchar(150)
	)
	As
	  Begin 
	   update  Category
	    set  name = @name,  parent_id =@parent_id,   seq_num=@seq_num,  url= @url where category_id = @categor_id;
		end;
GO
/****** Object:  StoredProcedure [dbo].[sp_create_user]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_create_user](
@user_id varchar(50),
@name  nvarchar(50),
@address nvarchar(50),
@username nvarchar(50),
@password varchar(50),
@role varchar(20)


)
AS
    BEGIN
     Insert into [User](
	   [user_id],
       [name]
      ,[username]
      ,[password]
      ,[address]
      ,[role]
     
      )
  values(@user_id, @name, @username, @password,@address,  @role)

		   select ''    		
		
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_customer_create]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_customer_create]

(@customer_email              VARCHAR(100), 
 @customer_password          VARCHAR(150) ,
 @name nvarchar(50),
 @address nvarchar(200),
 @phone varchar(20)
)
AS
    BEGIN
      INSERT INTO Customer
                (
				name,
				 customer_email, 
                 customer_password,
				 address,
				 phone)
                VALUES
                (
				 @name,
				 @customer_email, 
                 @customer_password,
				 @address,
				 @phone
				 );
        SELECT '';
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_doanhthu_khachhang]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE procedure [dbo].[sp_doanhthu_khachhang] 
  as
    begin 

  select customer_name ,
  sum(quantity_sale * price - quantity_sale*price*0.2/100) as total
  from Bill b inner join BillDetail s on b.id = s.bill_id
  group by customer_name
  end
GO
/****** Object:  StoredProcedure [dbo].[sp_doanhthu_theo_nam]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create procedure [dbo].[sp_doanhthu_theo_nam](@nam nvarchar(20))
  as
    begin 
  select year(created_at) as nam,
  sum(quantity_sale*price - quantity_sale*price*0.2/100) as total
    from Bill b inner join BillDetail s on b.id = s.bill_id 
	--where MONTH(created_at) = @thang
	group by   year(created_at)
	having year(created_at) = @nam

	end
GO
/****** Object:  StoredProcedure [dbo].[sp_doanhthu_theo_ngay]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE procedure [dbo].[sp_doanhthu_theo_ngay](@ngay nvarchar(20))
  as
    begin 
  select day(created_at) as ngay,
  sum(quantity_sale*price - quantity_sale*price*0.2/100) as total
    from Bill b inner join BillDetail s on b.id = s.bill_id 
	--where MONTH(created_at) = @thang
	group by   day(created_at)
	having day(created_at) = @ngay

	end
GO
/****** Object:  StoredProcedure [dbo].[sp_doanhthu_theo_thang]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create procedure [dbo].[sp_doanhthu_theo_thang](@thang nvarchar(20))
  as
    begin 
  select month(created_at) as thang,
  sum(quantity_sale*price - quantity_sale*price*0.2/100)
    from Bill b inner join BillDetail s on b.id = s.bill_id 
	--where MONTH(created_at) = @thang
	group by   MONTH(created_at)
	having month(created_at) = @thang

	end
GO
/****** Object:  StoredProcedure [dbo].[sp_get_bill]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_get_bill] 
   as
     Begin 
	   select * from Bill
	 end; 
GO
/****** Object:  StoredProcedure [dbo].[sp_get_bill_by_status]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_get_bill_by_status](@status int)
AS
    BEGIN
	

	select * from Bill where status = @status

		
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_get_bill_detail]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE procedure [dbo].[sp_get_bill_detail] (@bill_id varchar(50))
  as 
    begin 
	 select b.bill_id, b.id, b.price, b.product_id, b.quantity_sale, p.name,
	 
	 k.address, k.created_at, k.note, k.phone, k.total, k.customer_name
	 from 	 BillDetail b inner join Product p
	 on b.product_id = p.product_id	 
	 inner join Bill k 
	 on k.id = b.bill_id

	 
	 where bill_id = @bill_id;
  end;
GO
/****** Object:  StoredProcedure [dbo].[sp_get_product_related]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_get_product_related] ( @product_id int, @category_id varchar(50))
	as
	  Begin 
	     select * from Product where category_id = @category_id and not product_id = @product_id 
	 end;

GO
/****** Object:  StoredProcedure [dbo].[sp_hoa_don_create]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_hoa_don_create]
(@id              VARCHAR(50), 
 @name         NVARCHAR(50), 
 
 @total        float, 
 @address         nvarchar(250), 
 @phone         varchar(20), 


 @listjson_chitiet NVARCHAR(MAX)
)
AS
    BEGIN
        INSERT INTO 
		         Bill
                (
				 id,
				
				 customer_name,
                 total,
				 address,
				 phone
				
                )
                VALUES
                (@id, 
			
                 @name,
				 @total,
				 @address,
				 @phone

                );
                IF(@listjson_chitiet IS NOT NULL)
                    BEGIN
                        INSERT INTO BillDetail
                        (id, 
                         bill_id, 
                         product_id, 
                         quantity_sale,
						 price
                        )
                               SELECT JSON_VALUE(p.value, '$.id'), 
                                      @id, 
                                      JSON_VALUE(p.value, '$.product_id'), 
                                      JSON_VALUE(p.value, '$.quantity_sale'),
									  JSON_VALUE(p.value, '$.price') 
                               FROM OPENJSON(@listjson_chitiet) AS p;
                END;
        SELECT '';
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_home_search]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_home_search] (@page_index  INT, 
                                       @page_size   INT,
									   @name Nvarchar(250)
									   
									   )
AS
    BEGIN
        DECLARE @RecordCount BIGINT;
        IF(@page_size <> 0)
            BEGIN
                SET NOCOUNT ON;
                        SELECT(ROW_NUMBER() OVER(
                              ORDER BY i.name ASC)) AS RowNumber, 
                              i.product_id, 
                              i.name, 
                              i.image_url , 
                              i.price, 
                              i.promotion_price,
							  i.category_id,
							  i.description,
							  i.detail,
							  i.status

                        INTO #Results1
                        FROM Product AS i
					    WHERE Freetext(name,@name) Or  price  like '@name'  ;                  
                        SELECT @RecordCount = COUNT(*)
                        FROM #Results1;
                        SELECT *, 
                               @RecordCount AS RecordCount
                        FROM #Results1
                        WHERE ROWNUMBER BETWEEN(@page_index - 1) * @page_size + 1 AND(((@page_index - 1) * @page_size + 1) + @page_size) - 1
                              OR @page_index = -1;
                        DROP TABLE #Results1; 
            END;
            ELSE
            BEGIN
                SET NOCOUNT ON;
                         SELECT(ROW_NUMBER() OVER(
                               ORDER BY i.name ASC)) AS RowNumber, 
                               i.product_id, 
                              i.name, 
                              i.image_url , 
                              i.price, 
                              i.promotion_price,
							  i.category_id,
							  i.description,
							  i.detail,
							  i.status
                        INTO #Results2
                        FROM Product AS i
						 WHERE Freetext(name,@name) Or price like '@name';    
                        SELECT @RecordCount = COUNT(*)
                        FROM #Results2;
                        SELECT *, 
                               @RecordCount AS RecordCount
                        FROM #Results2;
                        DROP TABLE #Results2;
						
        END;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_product_all]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_product_all]
AS
    BEGIN
        SELECT product_id,name,image_url, price, quantity,
		       promotion_price, category_id, description,
		       detail, status, created_at
		       		
        FROM Product 
		where status = 1
		order by product_id desc
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_product_create]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_product_create]
(
 @name           NVARCHAR(150), 
  @image_url         VARCHAR(500), 

   @promotion_price  int,

 @price          int,

 @quantity int,
  @category_id       VARCHAR(50), 
 @description text,
 @detail text,
 @status tinyint

)
AS
    BEGIN
      INSERT INTO Product
                (
                 name, 
                 image_url, 
                 price, 
                 quantity,
				 promotion_price,
				 category_id,
				 description,
				 detail,
				 status
                )
                VALUES(          
                 @name, 
                 @image_url, 
                 @price, 
                 @quantity,
				 @promotion_price,
				 @category_id,
				 @description,
				 @detail,
				 @status
                );
       
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_product_delete]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	create procedure [dbo].[sp_product_delete] 
	(@product_id varchar(50)
	
	)
	As
	  Begin 
	   Delete from Product where product_id = @product_id;
		end;
GO
/****** Object:  StoredProcedure [dbo].[sp_product_get_by_id]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







		CREATE PROCEDURE [dbo].[sp_product_get_by_id](@product_id VARCHAR(50))
AS
    BEGIN
        SELECT Product.product_id, 
               Product.name, 
                 Product.image_url, 
                 Product.price, 
                 Product.quantity,
				 Product.promotion_price,
				 Product.category_id,
				 Product.description,
				 Product.detail, Product.status, Product.created_at                       
        FROM Product
      where  Product.product_id = @product_id;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_product_search]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_product_search] (@page_index  INT, 
                                       @page_size   INT,
									   @category_id Nvarchar(50))
AS
    BEGIN
        DECLARE @RecordCount BIGINT;
        IF(@page_size <> 0)
            BEGIN
                SET NOCOUNT ON;
                        SELECT(ROW_NUMBER() OVER(
                              ORDER BY i.name ASC)) AS RowNumber, 
                              i.product_id, 
                              i.name, 
                              i.image_url , 
                              i.price, 
                              i.promotion_price,
							  i.category_id,
							  i.description,
							  i.detail,
							  i.status

                        INTO #Results1
                        FROM Product AS i
					    WHERE i.category_id = @category_id;                   
                        SELECT @RecordCount = COUNT(*)
                        FROM #Results1;
                        SELECT *, 
                               @RecordCount AS RecordCount
                        FROM #Results1
                        WHERE ROWNUMBER BETWEEN(@page_index - 1) * @page_size + 1 AND(((@page_index - 1) * @page_size + 1) + @page_size) - 1
                              OR @page_index = -1;
                        DROP TABLE #Results1; 
            END;
            ELSE
            BEGIN
                SET NOCOUNT ON;
                         SELECT(ROW_NUMBER() OVER(
                               ORDER BY i.name ASC)) AS RowNumber, 
                               i.product_id, 
                              i.name, 
                              i.image_url , 
                              i.price, 
                              i.promotion_price,
							  i.category_id,
							  i.description,
							  i.detail,
							  i.status
                        INTO #Results2
                        FROM Product AS i
						WHERE i.category_id = @category_id;  
                        SELECT @RecordCount = COUNT(*)
                        FROM #Results2;
                        SELECT *, 
                               @RecordCount AS RecordCount
                        FROM #Results2;
                        DROP TABLE #Results2;
        END;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_product_search_name]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_product_search_name](@msg NVARCHAR(250))
AS
    BEGIN
        SELECT *                    
        FROM Product
      where Freetext(name,@msg)
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_product_update]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_product_update]
(@product_id             int, 
 @category_id       VARCHAR(50), 
 @image_url          VARCHAR(250), 
 @name           NVARCHAR(150), 
 @price          float,
 @promotion_price  float,
 @quantity int,
 @description text,
 @detail text,
 @status tinyint


)
AS
    BEGIN
      Update Product set
                 
                 name = @name,
                 image_url = @image_url,
                 price = @price,
                 quantity = @quantity,
				 promotion_price = @promotion_price,
				 category_id = @category_id,
				 description = @description,
				 detail= @detail, status = @status
				 where product_id = @product_id

        SELECT '';
    END;

GO
/****** Object:  StoredProcedure [dbo].[sp_thongke_sp_bancham]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_thongke_sp_bancham]
AS
    BEGIN
      select p.*  from Product p
	  where not exists (select product_id from BillDetail
	  where product_id = p.product_id)
	  
		
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_thongke_sp_banchay]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_thongke_sp_banchay]
AS
    BEGIN
      select top(10) p.*  from Product p
	  where  exists (select product_id from BillDetail
	  where product_id = p.product_id)
	  		
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_thongke_theo_thang]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_thongke_theo_thang]
AS
    BEGIN
      select 

sum(case month(created_at) when 1 then (b.total) else 0 end) as thang1,
sum(case month(created_at) when 2 then (b.total) else 0 end) as thang2,
sum(case month(created_at) when 3 then (b.total) else 0 end) as thang3,
sum(case month(created_at) when 4 then (b.total) else 0 end) as thang4,
sum(case month(created_at) when 5 then (b.total) else 0 end) as thang5,
sum(case month(created_at) when 6 then (b.total) else 0 end) as thang6,
sum(case month(created_at) when 7 then (b.total) else 0 end) as thang7,
sum(case month(created_at) when 8 then (b.total) else 0 end) as thang8,
sum(case month(created_at) when 9 then (b.total) else 0 end) as thang9,
sum(case month(created_at) when 10 then (b.total) else 0 end) as thang10,
sum(case month(created_at) when 11 then (b.total) else 0 end) as thang11,
sum(case month(created_at) when 12 then (b.total) else 0 end) as thang12

from Bill as b
where YEAR(created_at) = 2020

    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_update_user]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_update_user](
@user_id varchar(50),
@name  varchar(50),
@address varchar(50),
@username varchar(50),
@password varchar(50),
@role varchar(20)



)
AS
    BEGIN
     update  [User] set
	  
       [name] = @name,
      [username] = @username,
      [password] = @password,
      [address] = @address,
      [role] = @role
  
      
  where user_id = @user_id

		   select ''    		
		
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_user_delete]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_user_delete](@id varchar(50))
AS
    BEGIN
      Delete from  [User] where user_id = @id;
      
		       		
		
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_user_get_all]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_user_get_all]
AS
    BEGIN
      SELECT [user_id]
      ,[name]
      ,[username]
      ,[password]
      ,[address]
      ,[role]
      ,[token]
      ,[created_at]
  FROM [PKStore].[dbo].[User]
		       		
		
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_user_get_by_id]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_user_get_by_id](@id varchar(50))
AS
    BEGIN
      SELECT [user_id]
      ,[name]
      ,[username]
      ,[password]
      ,[address]
      ,[role]
      ,[token]
      ,[created_at]
  FROM [PKStore].[dbo].[User]
  where [user_id] = @id;
		       		
		
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_user_get_by_username_password]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_user_get_by_username_password](@username varchar(50), @password varchar(50))
AS
    BEGIN
      SELECT [user_id]
      ,[name]
      ,[username]
      ,[password]
      ,[address]
      ,[role]
      ,[token]
      ,[created_at]
  FROM [PKStore].[dbo].[User]
  where username = @username and password = @password
		       		
		
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_user_search]    Script Date: 5/23/2021 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_user_search] (@page_index  INT, 
                                       @page_size   INT,
									   @name nvarchar(150),
									    @username varchar(30)
									   )
AS
    BEGIN
        DECLARE @RecordCount BIGINT;
        IF(@page_size <> 0)
            BEGIN
                SET NOCOUNT ON;
                        SELECT(ROW_NUMBER() OVER(
                              ORDER BY u.name ASC)) AS RowNumber,
                             u.user_id             , 
							 u.name           ,
							 u.username       ,
							 u.password           ,
							 u.address           ,
							 u.role           
							
							
                        INTO #Results1
                        FROM [User] AS u
						WHERE (u.username <> 'Admin') and ((name = '') OR (u.name LIKE '%' + name + '%')) and  ((username = '') OR (u.username = username));
                        SELECT @RecordCount = COUNT(*)
                        FROM #Results1;
                        SELECT *, 
                               @RecordCount AS RecordCount
                        FROM #Results1
                        WHERE ROWNUMBER BETWEEN(@page_index - 1) * @page_size + 1 AND(((@page_index - 1) * @page_size + 1) + @page_size) - 1
                              OR @page_index = -1;
                        DROP TABLE #Results1; 
            END;
            ELSE
            BEGIN
                SET NOCOUNT ON;
                         SELECT(ROW_NUMBER() OVER(
                              ORDER BY u.name ASC)) AS RowNumber, 
                              u.user_id              , 
							 u.name           ,
							 u.username       ,
							 u.password           ,
							 u.address           ,
							 u.role           
                        INTO #Results2
                        FROM [user] AS u
	                  WHERE (u.username <> 'Admin') and ((name = '') OR (u.name LIKE '%' + name + '%')) and  ((username = '') OR (u.username = username));
                        SELECT @RecordCount = COUNT(*)
                        FROM #Results2;
                        SELECT *, 
                               @RecordCount AS RecordCount
                        FROM #Results2;
                        DROP TABLE #Results2;
        END;
    END;
GO
