                      <div class="beauty-category vertical-menu home-9 home-10">
                        <h3 class="vertical-menu-heading vertical-menu-toggle">Danh mục sản phẩm</h3>
                        <ul class="vertical-menu-wrap open-menu-toggle">
                          <li class="menu-dropdown">
                            <a href="#">Electronics<i class="ion-ios-arrow-down"></i></a>
                            <ul class="mega-menu-wrap">
                              <li>
                                <ul class="mb-20px">
                                  <li class="mega-menu-title"><a href="#">Accessories & Parts</a></li>
                                  <li><a href="#">Cables & Adapters</a></li>
                                  <li><a href="#">Batteries</a></li>
                                  <li><a href="#">Chargers</a></li>
                                  <li><a href="#">Bags & Cases</a></li>
                                  <li><a href="#">Electronic Cigarettes</a></li>
                                </ul>
                              </li>
                              <li>
                                <ul class="mb-20px">
                                  <li class="mega-menu-title"><a href="#">Camera & Photo</a></li>
                                  <li><a href="#">Digital Cameras</a></li>
                                  <li><a href="#">Camcorders</a></li>
                                  <li><a href="#">Camera Drones</a></li>
                                  <li><a href="#">Action Cameras</a></li>
                                  <li><a href="#">Photo Studio Supplies</a></li>
                                </ul>
                              </li>
                              <li>
                                <ul class="mb-20px">
                                  <li class="mega-menu-title"><a href="#">Smart Electronics</a></li>
                                  <li><a href="#">Wearable Devices</a></li>
                                  <li><a href="#">Smart Home Appliances</a></li>
                                  <li><a href="#">Smart Remote Controls</a></li>
                                  <li><a href="#">Smart Watches</a></li>
                                  <li><a href="#">Smart Wristbands</a></li>
                                </ul>
                              </li>
                              <li>
                                <ul>
                                  <li class="mega-menu-title"><a href="#">Audio & Video</a></li>
                                  <li><a href="#">Televisions</a></li>
                                  <li><a href="#">TV Receivers</a></li>
                                  <li><a href="#">Projectors</a></li>
                                  <li><a href="#">Audio Amplifier Boards</a></li>
                                  <li><a href="#">TV Sticks</a></li>
                                </ul>
                              </li>
                              <li>
                                <ul>
                                  <li class="mega-menu-title"><a href="#">Portable Audio & Video</a></li>
                                  <li><a href="#">Headphones</a></li>
                                  <li><a href="#">Speakers</a></li>
                                  <li><a href="#">MP3 Players</a></li>
                                  <li><a href="#">VR/AR Devices</a></li>
                                  <li><a href="#">Microphones</a></li>
                                </ul>
                              </li>
                            </ul>
                          </li>
                          <ng-container *ngFor="let mn of menus">
                            <li class="menu-dropdown" *ngIf="mn.children != null">
                              <a [routerLink]="['product/list-item/', mn.item_group_id]">{{ mn.item_group_name}}<i
                                  class="ion-ios-arrow-down"></i></a>
                              <ul class="sub-menu">
                                <ng-container *ngFor="let m of mn.children">
                                  <li><a
                                      [routerLink]="['/product/list-item', m.item_group_id]">{{ m.item_group_name }}</a>
                                  </li>

                                </ng-container>

                              </ul>
                            </li>
                            <li *ngIf="mn.children ==null"><a
                                [routerLink]="['product/list-item/', mn.item_group_id]">{{ mn.item_group_name }}</a>
                            </li>

                          </ng-container>
                          <li class="menu-dropdown">
                            <a href="#">Video Game</a>
                            <ul class="sub-menu">
                              <li><a href="#">Handheld Game Players</a></li>
                              <li><a href="#">Game Controllers</a></li>
                              <li><a href="#">Joysticks</a></li>
                              <li><a href="#">Stickers</a></li>
                            </ul>
                          </li>
                          <li><a href="#">Televisions</a></li>
                          <li><a href="#">Digital Cameras</a></li>
                          <li><a href="#">Headphones</a></li>
                          <li><a href="#">Wearable Devices</a></li>
                          <li><a href="#">Smart Watches</a></li>
                          <li><a href="#">Game Controllers</a></li>
                          <li><a href="#"> Smart Home Appliances</a></li>
                          <li class="hidden"><a href="#">Projectors</a></li>
                          <li>
                            <a href="#" id="more-btn"><i class="ion-ios-plus-empty" aria-hidden="true"></i> More
                              Categories</a>
                          </li>
                        </ul>
                      </div>
